# ===================================================================
# artellapipe-libs-maya requirements file
# ===================================================================
pytest
pytest-cov
coveralls
sphinx
sphinx_rtd_theme
tpPyUtils
gazu
artellapipe